<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ng-container *ngIf="currentItem; else rootName">
        {{ currentItem.name }}
      </ng-container>
      <ng-template #rootName>
        Documents
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searchTerm" placeholder="Filter by name"></ion-searchbar>
      </ion-col>
      <ion-col>
          <ion-item>
            <ion-select [(ngModel)]="docTerm" interface="popover">
              <ion-option value="" selected="true">Document</ion-option>
              <ion-option *ngFor="let document of documentValues" [value]="document">{{ document }}</ion-option>
            </ion-select>
          </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select [(ngModel)]="fileTerm" interface="popover">
            <ion-option value="" selected="true">Format</ion-option>
            <ion-option *ngFor="let format of fileFormatValues" [value]="">{{ format }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ng-container *ngFor="let item of (directory$ | async)?.items | filterItem:searchTerm | filterItem:docTerm | filterItem:fileTerm">
      <ion-item  *ngIf="item.type === ItemType.DIRECTORY" (click)="handleDir($event, item)">
        <ion-icon name="folder" item-start></ion-icon>
        <ion-label class="item-label">
          <div class="item-label--name">{{ item.name }}</div>
        </ion-label>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item  *ngIf="item.type === ItemType.FILE">
        <ion-icon name="document" item-start></ion-icon>
        <ion-label class="item-label">
          <div class="item-label--name">{{ item.name }}</div>
          <div class="item-label--type">{{ item.value.document_type }}</div>
          <div class="item-label--type">{{ item.created_on }}</div>
          <div class="item-label--type">{{ item.value.format }}</div>
        </ion-label>
        <ion-checkbox color="dark" item-end></ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>

  <div *ngIf="!((directory$ | async)?.items.length)" padding-top="50" text-center>
    Start adding files to begin!
  </div>


  <ion-fab right bottom>
    <button ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

