<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Documents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>My Documents</h3>

  <div class="row header">
    <div class="col">Name</div>
    <div class="col">Description</div>
    <div class="col">Path</div>
    <div class="col">Format</div>
    <div class="col">Date</div>
  </div>

  <div class="row" *ngFor="let item of (directory | async)?.items">
    <div *ngIf="item.type === ItemType.FILE">
      <div>this is file</div>
      <div>{{ item.name }}</div>
      <div>{{ item.value.path }}</div>
    </div>
    <div *ngIf="item.type === ItemType.DIRECTORY">
      <div>this is directory</div>
      <div>{{ item.name }}</div>
    </div>
  </div>


  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>