<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Edit
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="infoForm == 'profile'">
  <h3 ion-text color="primary">Profile Information</h3>
  <form [formGroup]="profileForm" (ngSubmit)="submitProfileInfo()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-list radio-group formControlName="gender">
      <ion-label>Gender</ion-label>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="male"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" formControlName="dob"></ion-datetime>
    </ion-item>
    <button ion-button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</ion-content>

<ion-content padding *ngIf="infoForm == 'medical_info'">
  <h3 ion-text color="primary">Medical Information</h3>
  <form [formGroup]="medicalInfoForm" (ngSubmit)="submitMedicalInfo()">
    <ion-item>
      <ion-label>Blood Type</ion-label>
      <ion-select formControlName="blood_type">
        <ion-option *ngFor="let blood_type of bloodTypes" [value]="blood_type.value">{{blood_type.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Conditions</ion-label>
      <ion-input formControlName="condition"></ion-input>
      <button ion-button item-right (tap)="addConditionOrAllergy($event)">Add</button>
    </ion-item>
    <ion-row class="chip-list">
      <ng-container *ngFor="let known_condition of known_conditions">
        <ion-chip>
          <ion-icon name="heart" color="gray"></ion-icon>
          <ion-label>{{ known_condition }}</ion-label>
        </ion-chip>
      </ng-container>
    </ion-row>
    <ion-item>
      <ion-label>Allergies</ion-label>
      <ion-input placeholder="none" formControlName="allergie"></ion-input>
      <button ion-button item-right (tap)="addConditionOrAllergy($event)">Add</button>
    </ion-item>
    <ion-row class="chip-list">
      <ng-container *ngFor="let allergy of allergies">
        <ion-chip>
          <ion-icon name="heart" color="gray"></ion-icon>
          <ion-label>{{ allergy }}</ion-label>
        </ion-chip>
      </ng-container>
    </ion-row>
    <button ion-button type="submit">Submit</button>
  </form>
</ion-content>

<ion-content padding *ngIf="infoForm == 'emergency_contact'">
  <h3 ion-text color="primary">Emergency Contact</h3>
  <form [formGroup]="emergencyContactForm" (ngSubmit)="submitEmergencyContact()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Relationship</ion-label>
      <ion-input type="text" formControlName="relationship"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input type="text" formControlName="phoneNumber"></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!emergencyContactForm.valid">Submit</button>
  </form>
</ion-content>