language: node_js
sudo: required
dist: trusty

node_js:
  - 7

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

cache:
  directories:
  - $HOME/platforms/
  - $HOME/node_modules/
  - $HOME/www/

before_script:
  - ionic cordova build android --no-interactive --confirm

script: npm install && npm run test-ci
