page-password-prompt {
}
.logo{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 10%;
}

.form{
    margin: 10% 5%;
}

.password-field{
    margin: 10% 0 20% 0;
}

h1{
    margin-left: 15%;
    color:  color($colors, primary, base);
}