<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Import Document</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="importDocumentForm" (ngSubmit)="importFile()">
    <ion-item>
      <ion-label>Document Name</ion-label>
      <ion-input type="text" formControlName="name" autofocus> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMMM DD, YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Document type</ion-label>
      <ion-select formControlName="type">
        <ion-option *ngFor="let type of PortfolioTypes" [value]="type.value">{{type.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Selected file</ion-label>
      <ion-input type="text" readonly="true" formControlName="fullPath">{{selectedFileName}}</ion-input>
    </ion-item>
    <ion-item *ngIf='importMethod != "edit-document"'>
      <button ion-button outline="true" (click)="selectFile($event)">Select a File</button>
      <button ion-button color="primary" type="submit" [disabled]="!importDocumentForm.valid">Import</button>
    </ion-item>
    <ion-item *ngIf='importMethod == "edit-document"'>
      <button ion-button outline icon-start (tap)="takePicture()">
        <ion-icon name='camera'></ion-icon>
        Camera
      </button>
      <button ion-button outline icon-start (tap)="selectFileEdit()">
        <ion-icon name='document'></ion-icon>
        File
      </button>
      <button ion-button color="primary" type="submit" [disabled]="!importDocumentForm.valid">Edit</button>
    </ion-item>
  </form>
</ion-content>