<ion-header>
    <ion-toolbar>
        <ion-title>
            Edit
        </ion-title>
    </ion-toolbar>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text>Cancel</span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
    </ion-buttons>
</ion-header>

<ion-content padding *ngIf="infoForm == 'profile'">
    <ion-row>
        <form [formGroup]="profileForm" (ngSubmit)="submitProfileInfo()">
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-list radio-group formControlName="gender">
                <ion-item>
                    <ion-label>Male</ion-label>
                    <ion-radio value="male"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Female</ion-label>
                    <ion-radio value="female"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-item>
                <ion-label>Date of Birth</ion-label>
                <ion-input type="text" formControlName="dob"></ion-input>
            </ion-item>
            <button ion-button type="submit" [disabled]="!profileForm.valid">Submit</button>
        </form>
    </ion-row>
</ion-content>

<ion-content padding  *ngIf="infoForm == 'medical_info'">
    <ion-row>
        <form [formGroup]="medicalInfoForm" (ngSubmit)="submitMedicalInfo()">
            <ion-item>
                <ion-label>Blood Type</ion-label>
                <ion-input type="text" formControlName="bloodType"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Conditions</ion-label>
                <ion-input type="text" formControlName="known_conditions"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Allergies</ion-label>
                <ion-input type="text" formControlName="allergies"></ion-input>
            </ion-item>
            <button ion-button type="submit" [disabled]="!medicalInfoForm.valid">Submit</button>
        </form>
    </ion-row>
</ion-content>

<ion-content padding *ngIf="infoForm == 'emergency_contact'">
    <ion-row>
        <form [formGroup]="emergencyContactForm" (ngSubmit)="submitEmergencyContact()">
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Relationship</ion-label>
                <ion-input type="text" formControlName="relationship"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Phone Number</ion-label>
                <ion-input type="text" formControlName="phoneNumber"></ion-input>
            </ion-item>
            <button ion-button type="submit" [disabled]="!emergencyContactForm.valid">Submit</button>
        </form>
    </ion-row>
</ion-content>