<ion-menu [content]="content">


  <ion-content class="side-menu" color="primary">
    <div class="side-menu-spacer"></div>
    <div class="profile-image">
      <img src="assets/placeholder-face.png" *ngIf="!profileImg"/>
      <img src="{{profileImg}}" *ngIf="profileImg"/>
    </div>
    <h3 class="side-menu-heading">
      Welcome {{name}}
    </h3>
    <div class="side-menu-spacer"></div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="side-menu-item">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
