<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <div menuClose class="profile-image" (click)="selectFile()">
            <img src="assets/placeholder-face.png" *ngIf="!profileImg"/>
            <ion-avatar item-start><img style="height:159px" src="{{profileImg}}" *ngIf="profileImg"/></ion-avatar>
        </div>
    <div class="profile-info-section">
      <ion-row class="profile-info-header">
        <ion-col col-10>
          <span ion-text color="primary"><ion-icon name="contact"></ion-icon> Personal Information</span>
        </ion-col>
        <ion-col col-2 class="btn--edit">
          <ion-icon name="create" (click)="editProfile()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="profile-info-content">
        <ion-col>
          <p>
            <span ion-text color="primary">Name:</span> {{profile?.name}}</p>
          <p>
            <span ion-text color="primary">Gender:</span> {{profile?.gender}}</p>
        </ion-col>
        <ion-col>
          <p>
            <span ion-text color="primary">Date of Birth:</span> {{profile?.dob}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="profile-info-section">
      <ion-row class="profile-info-header">
        <ion-col col-10>
          <span ion-text color="primary"><ion-icon name="medical"></ion-icon> Medical Information</span>
        </ion-col>
        <ion-col col-2 class="btn--edit">
          <ion-icon name="create" (click)="editMedicalInfo()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="profile-info-content">
        <ion-col>
          <p>
            <span ion-text color="primary">Blood Type: </span> {{medicalInfo?.blood_type}} </p>
          <p>
            <span ion-text color="primary">Known Conditions: </span> {{medicalInfo?.known_conditions}} </p>
        </ion-col>
        <ion-col>
          <p>
            <span ion-text color="primary">Allergies:</span> {{medicalInfo?.allergies}} </p>
        </ion-col>
      </ion-row>
    </div>
    <div class="profile-info-section">
      <ion-row class="profile-info-header">
        <ion-col col-10>
          <span ion-text color="primary"><ion-icon name="contacts"></ion-icon> Emergency Contacts</span>
        </ion-col>
        <ion-col col-2 class="btn--edit">
          <ion-icon name="create" (click)="editEmergencyContact()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="profile-info-content">
        <ion-col>
          <p>
            <span ion-text color="primary">Name:</span> {{emergencyContact?.name}}</p>
          <p>
            <span ion-text color="primary">Phone Number:</span> {{emergencyContact?.phoneNumber}}</p>
        </ion-col>
        <ion-col>
          <p>
            <span ion-text color="primary">Relationship:</span> {{emergencyContact?.relationship}}</p>
        </ion-col>
      </ion-row>
    </div>
      <button ion-button round (click)="exportProfile()">Export Profile</button>
  </ion-grid>
</ion-content>