<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ng-container *ngIf="currentEntry; else rootName">
        {{ currentEntry.title }}
      </ng-container>
      <ng-template #rootName>
        Medical Diary
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-menu type="overlay" side="right" id="filterMenu" [content]="filterMenu" (ionOpen)='filterToggle()' (ionClose)='filterToggle()'>
        <ion-content>
          <div class="toolbar-content toolbar-content-md">
            <ion-title class="title title-md">
              <div class="toolbar-title toolbar-title-md">Filter by:</div>
            </ion-title>
          </div>
          <ion-list>
            <ion-item>
              <ion-label stacked>Date from</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD" [max]="dateMaxDate" [(ngModel)]="dateFromTerm"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label stacked>Date to</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD" [max]="dateMaxDate" [(ngModel)]="dateToTerm"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-content>
    </ion-menu>

    <ion-toolbar no-border-top #filterMenu color="primary">
      <ion-buttons start>
        <button ion-button icon-only menuToggle="filterMenu" color="white">
          <ion-icon name="md-funnel"></ion-icon>
        </button>
      </ion-buttons>
      <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search diary" left></ion-searchbar>
    </ion-toolbar>

    <ion-list>
        <ng-container *ngFor="let entry of (items$ | async) | diaryFilterByTerm:searchTerm | diaryFilterByDate:dateFromTerm:dateToTerm">
            <ion-card (tap)="viewDetails($event, entry)" *ngIf="entry.page === PageType.Diary" tappable>
              <ion-item>
                <h2 ion-text color="primary" (tap)="viewDetails($event, entry)"> {{ entry?.title }} </h2>
                <button ion-button icon-left clear item-end>
                  <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-left clear item-end (tap)="confirmDelete($event, entry)">
                  <ion-icon name="trash"></ion-icon>
                </button>
                <p> {{ entry?.chosen_date }}</p>
              </ion-item>

              <ion-card-content>
                <p> {{ entry?.description }} </p>
              </ion-card-content>

              <ion-item  text-center *ngIf="entry.file">
                <img class="attachment" [src]="entry.file.path"/>
              </ion-item>
              
            </ion-card>
        </ng-container>
    </ion-list>

    <div *ngIf="!((items$ | async)?.length)" padding-top="50" text-center>
      Start adding your first diary entry!
    </div>
</ion-content>

<ng-container *ngIf="directory || items$">
  <ion-fab right bottom>
    <button ion-fab color="primary" id="addButton" (click)="addEntry(items$)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ng-container>