<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ng-container *ngIf="currentEntry; else rootName">
        {{ currentEntry.title }}
      </ng-container>
      <ng-template #rootName>
        Medical Diary
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ng-container *ngFor="let entry of directory?.items">
            <ion-item (tap)="viewDetails($event, entry)" *ngIf="item.page === PageType.Diary" tappable>
                <ion-avatar item-start>
                </ion-avatar>
                <h4>{{ entry?.title }} </h4>
                <p> {{ entry?.description }}</p>
            </ion-item>
            <!-- TODO Add Image Attachment  -->
        </ng-container>
    </ion-list>
</ion-content>

<ng-container *ngIf="directory">
  <ion-fab right bottom>
    <button ion-fab color="light" id="addButton" (click)="addEntry(diary)">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ng-container>