<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ng-container *ngIf="currentEntry; else rootName">
        {{ currentEntry.title }}
      </ng-container>
      <ng-template #rootName>
        Medical Diary
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ng-container *ngFor="let entry of items$ | async">
            <ion-card (tap)="viewDetails($event, entry)" *ngIf="entry.page === PageType.Diary" tappable>
              <ion-item>
                <h2 ion-text color="primary"> {{ entry?.title }} </h2>
                <p> {{ entry?.chosen_date }}</p>
              </ion-item>

              <ion-item  *ngIf="entry.file">
                <img class="attachment" [src]="entry.file.path">
              </ion-item>

              <ion-card-content>
                <p> {{ entry?.description }} </p>
              </ion-card-content>
              
            </ion-card>
        </ng-container>
    </ion-list>
</ion-content>

<ng-container *ngIf="directory || items$">
  <ion-fab right bottom>
    <button ion-fab color="primary" id="addButton" (click)="addEntry(items$)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ng-container>