page-diary {
  ion-item p {
    float: left;
    clear: left;
  }
  img.attachment {
    width: 20vh;
    object-fit: contain;
    margin: 0 auto;
  }
  .toolbar-title-md {
    padding: 5px 8px;
  }

  #addButton {
    bottom: 55px;
  }
}
