<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ng-container *ngIf="currentItem; else rootName">
        {{ currentItem.name }}
      </ng-container>
      <ng-template #rootName>
        Medical Portfolio
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-menu type="overlay" side="right" id="filterMenu" [content]="filterMenu" (ionOpen)='filterToggle()' (ionClose)='filterToggle()'>
    <ion-content>
      <h4>Filter by:</h4>
      <ion-list>
        <ion-item>
          <ion-searchbar [(ngModel)]="searchTerm" placeholder="Name"></ion-searchbar>
        </ion-item>
        <ion-item>
          <ion-label stacked>Document Type</ion-label>
          <ion-select [(ngModel)]="docTerm" interface="popover">
            <ion-option value="" selected="true">Any</ion-option>
            <ion-option *ngFor="let document of DocumentType.values()" [value]="document">{{ document }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Format</ion-label>
          <ion-select [(ngModel)]="fileTerm" interface="popover">
            <ion-option value="" selected="true">Any</ion-option>
            <ion-option *ngFor="let format of FileFormatType.values()" [value]="">{{ format }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Date from</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="dateFromTerm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked>Date to</ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="dateToTerm"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-toolbar no-border-top #filterMenu>
    <ion-buttons right>
      <button ion-button menuToggle="filterMenu">Filter</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ng-container *ngFor="let item of (directory$ | async)?.items| fileFilter:filterName:searchTerm | fileFilter:filterDocumentType:docTerm | fileFilter:filterFormatType:fileTerm">
      <ion-item  *ngIf="item.type === ItemType.DIRECTORY" (click)="handleDir($event, item)">
        <ion-icon name="folder" item-start></ion-icon>
        <ion-label class="item-label">
          <div class="item-label--name">{{ item.name }}</div>
        </ion-label>
        <ion-icon name="arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item  *ngIf="item.type === ItemType.FILE">
        <ion-icon name="document" item-start></ion-icon>
        <ion-label class="item-label" (tap)="viewDoc($event, item)" tappable>
          <div class="item-label--name">{{ item?.value?.user_defined_name | addSpace}}</div>
          <div class="item-label--name">{{ item?.chosen_date }}</div>
          <div class="item-label--type">{{ item?.value.document_type}}</div>
        </ion-label>
        <input type="checkbox" item-end>
      </ion-item>
    </ng-container>
  </ion-list>

  <div *ngIf="!((directory$ | async)?.items.length)" padding-top="50" text-center>
    Start adding files to begin!
  </div>

    <ng-container *ngIf="directory$ | async as directory">
        <ion-fab right bottom>
            <button ion-fab color="light" id="addButton" (click)="importNewDocument(directory)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab>
    </ng-container>


</ion-content>
