<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ng-container *ngIf="currentItem; else rootName">
        {{ currentItem.name }}
      </ng-container>
      <ng-template #rootName>
        Medical Portfolio
      </ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-menu type="overlay" side="right" id="filterMenu" [content]="filterMenu" (ionOpen)='filterToggle()' (ionClose)='filterToggle()'>
    <ion-content>
      <h4>Filter by:</h4>
      <ion-list>
        <ion-item>
          <ion-label stacked>Document Type</ion-label>
          <ion-select [(ngModel)]="docTerm" interface="popover">
            <ion-option value="" selected="true">Any</ion-option>
            <ion-option *ngFor="let document of PortfolioType.values()" [value]="document">{{ document }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Format</ion-label>
          <ion-select [(ngModel)]="fileTerm" interface="popover">
            <ion-option value="" selected="true">Any</ion-option>
            <ion-option *ngFor="let format of FileFormatType.values()" [value]="">{{ format }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Date from</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [max]="dateMaxDate" [(ngModel)]="dateFromTerm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked>Date to</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [max]="dateMaxDate"  [(ngModel)]="dateToTerm"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-toolbar no-border-top #filterMenu color="light">
      <ion-buttons start>
          <button ion-button icon-only menuToggle="filterMenu" color="white">
              <ion-icon name="md-funnel"></ion-icon>
          </button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="searchTerm" placeholder="Document Name" left></ion-searchbar>
        <ion-buttons start>
          <button ion-button icon-only color="white" [disabled]="hasSelected()" (tap)="emailDocuments()">
              <ion-icon name="md-share" medium right></ion-icon>
          </button>
        </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ng-container *ngFor="let item of (directory$ | async)?.items| fileFilterByName:searchTerm |
      fileFilterByDocType:docTerm | fileFilterByFormatType:fileTerm | fileFilterByDate:dateFromTerm:dateToTerm; let i=index">
        <ion-item  *ngIf="item.page === PageType.Portfolio">
            <ion-avatar item-start class="item item-avatar" (tap)="viewDoc($event, item)" tappable>
              <ion-icon name="document" item-start></ion-icon>
            </ion-avatar>
            <p (tap)="viewDoc($event, item)" tappable>{{ item?.chosen_date | date:'MMMM d, y'}}</p>
            <p (tap)="viewDoc($event, item)" tappable>{{ item?.file.format}}</p>
            <h3 (tap)="viewDoc($event, item)" tappable>{{ item?.document_type}}</h3>
            <h2 (tap)="viewDoc($event, item)" tappable>{{ item?.title}}</h2>
            <input type="checkbox" [(ngModel)]="checkedItems[i]" item-end>
        </ion-item>
    </ng-container>
  </ion-list>

  <div *ngIf="!((directory$ | async)?.items.length)" padding-top="50" text-center>
    Start adding files to begin!
  </div>

</ion-content>

<ng-container *ngIf="directory$ | async as directory">
        <ion-fab right bottom>
            <button ion-fab color="primary" id="addButton" (click)="importNewDocument(directory)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab>
</ng-container>
