.item-label {
  display: flex;
}

.item-label--name {
  flex-grow: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 33%;
}

.item-label--type {
  padding-right: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

.popover-content {
  width: 80% !important;
}
